---
layout: default
titel: Projekt
menu: projekt
---
<div id="wrapper">
    <div id="header">
        <span class="h1">TeDDyProjekt</span>
        <span class="h2">Pågående och färdiga projekt</span>
    </div>
    <div id="content">
        <div class="tablecontainer information">
            <div class="row">
                <div class="left previewimg" style="background-image: url('/files/img/preview/gronakorset.jpg');background-position: 30% center;">
                    <img src="/files/img/qr/gronakorset.png" class="qr-image" width="150px">
                </div>
                <div class="right descript">
                    <span class="h3">GrönaKorset</span>
                    <img src="/files/img/preview/gronakorset.jpg" class="previewbild">
                    {% include support.html apple=false windows=false chrome=true firefox=false safari=false ie=false ios=true android=false %}
                    <p>Projekt som ämnar digitalisera och tillgängliggöra Gröna korset konceptet, för att mäta olika fokus ämnen på vårdavdelning.</p>
                    <p>Ger vårdpersonalen möjlighet att registrera på en skala hur bra eller dåligt det är i relation till satt ämne. Man kan förslagsvis registrera samtidigt som utstämpling för dagen.</p>
                    <p>Tidigare Gröna Korset konceptet utgick ifrån avvikelser, detta projekt ändrar till upplevelse och skapar färg utifrån medianen av svar på avdelningen.</p>
                    <p>Möjlighet för ledning att sammanräkna flera avdelningar.</p>
                    <a href="https://gronakorset.teddyprojekt.se" class="button">Till projektsidan</a>
                    <a href="https://github.com/teddykladdkak/gronakorset" class="button">GitHub</a>
                </div>
            </div>
        </div>
        <div class="tablecontainer information">
            <div class="row">
                <div class="left descript">
                    <span class="h3">Digital Whiteboard</span>
                    <img src="/files/img/preview/oversikt.jpg" class="previewbild">
                    {% include support.html apple=false windows=false chrome=true firefox=false safari=false ie=false ios=false android=false %}
                    <p>Projekt med målet att ersätta whiteboardtavlan i sjukvården. Eliminera behovet av att dokumentera "anteckningar" i journalen. Minimalistiskt och överskådlig design.</p>
                    <a href="projekt/digital_whiteboard/index.html" class="button">Till Sidan</a>
                    <a href="manualer/digital_whiteboard.html" class="button">Instruktioner</a>
                    <a href="https://github.com/teddykladdkak/teddyprojekt/tree/master/public/projekt/digital_whiteboard" class="button">GitHub</a>
                </div>
                <div class="right previewimg" style="background-image: url('/files/img/preview/oversikt.jpg');background-position: center;"></div>
            </div>
        </div>
        <div class="tablecontainer information">
            <div class="row">
                <div class="left previewimg" style="background-image: url('/files/img/preview/oversikt_server.jpg');background-position: 30% center;"></div>
                <div class="right descript">
                    <span class="h3">Digital Whiteboard - Server</span>
                    <img src="/files/img/preview/oversikt_server.jpg" class="previewbild">
                    {% include support.html apple=false windows=false chrome=true firefox=false safari=false ie=false ios=false android=false %}
                    <p>Likt tidigare projekt men nu med serverfunktionalitet. Olika vyer beroende på användningsområde, vilka delar information mellan varandra.</p>
                    <a href="https://github.com/teddykladdkak/DWhiteboard" class="button">GitHub</a>
                </div>
            </div>
        </div>
        <div class="tablecontainer information">
            <div class="row">
                <div class="left descript">
                    <span class="h3">MatAppen</span>
                    <img src="/files/img/preview/matdags.jpg" class="previewbild">
                    {% include support.html apple=false windows=false chrome=true firefox=false safari=false ie=false ios=false android=false %}
                    <p>Skapades under "H@ck for health" 2017. Möjlighet för patient att beställa maten själv, ge återkoppling till köket och automatisk kaloriberäkning. Följande projekt gjordes under dessa 24 timmarna.</p>
                    <a href="https://github.com/teddykladdkak/Matbestallning" class="button">GitHub</a>
                </div>
                <div class="right previewimg" style="background-image: url('/files/img/preview/matdags.jpg');background-position: center;background-size: 230%;"></div>
            </div>
        </div>
        <div class="tablecontainer information">
            <div class="row">
                <div class="left previewimg" style="background-image: url('/files/img/preview/lathund.jpg');background-position: 70% center;">
                    <img src="/files/img/qr/lathund.png" class="qr-image" width="150px">
                </div>
                <div class="right descript">
                    <span class="h3">Lathund</span>
                    <img src="/files/img/preview/lathund.jpg" class="previewbild">
                    {% include support.html apple=false windows=false chrome=true firefox=false safari=false ie=false ios=true android=false %}
                    <p>Samling av flertalet lathundar som en sjuksköterska kan behöva under ett arbetspass. Allt samlat under en länk.</p>
                    <a href="projekt/lathund/index.html" class="button">Till Sidan</a>
                    <a href="https://github.com/teddykladdkak/teddyprojekt/tree/master/public/projekt/lathund" class="button">GitHub</a>
                </div>
            </div>
        </div>
        <div class="tablecontainer information">
            <div class="row">
                <div class="left descript">
                    <span class="h3">InfoSida</span>
                    <img src="/files/img/preview/patinfo.jpg" class="previewbild">
                    {% include support.html apple=false windows=false chrome=false firefox=false safari=false ie=false ios=false android=false %}
                    <p>Projekt som utmanar möjligheterna att digitalisera informationsfoldern från avdelningar och hur man ska kunna skapa en API vilket gör det enklare för verksamheten att göra justeringar.</p>
                    <p>Fokus har även lagts ner på att göra informationssidan tillgänglig.</p>
                    <a href="https://patinfo.teddyprojekt.se" class="button">Till Sidan</a>
                    <a href="https://github.com/teddykladdkak/InfoSida" class="button">GitHub</a>
                </div>
                <div class="right previewimg" style="background-image: url('/files/img/preview/patinfo.jpg');background-position: center;">
                    <img src="/files/img/qr/infosida.png" class="qr-image" width="150px">
                </div>
            </div>
        </div>
        <div class="tablecontainer information">
            <div class="row">
                <div class="left previewimg" style="background-image: url('/files/img/preview/autodok.jpg');background-position: right top;background-size: 200%;"></div>
                <div class="right descript">
                    <span class="h3">AutoDok</span>
                    <img src="/files/img/preview/autodok.jpg" class="previewbild">
                    {% include support.html apple=false windows=false chrome=false firefox=false safari=false ie=false ios=false android=false %}
                    <p>Projekt med målet att automatisera dokumentationen.</p>
                    <p>Troligen inte möjligt att genomföra detta helt, då någon typ av input behövs, däremot vill detta projekt utforska hur långt man kan komma i automatiseringen.</p>
                    <a href="projekt/dok/index.html" class="button">Till Sidan</a>
                    <a href="https://github.com/teddykladdkak/teddyprojekt/tree/master/public/projekt/dok" class="button">GitHub</a>
                </div>
            </div>
        </div>
        <div class="tablecontainer information">
            <div class="row">
                <div class="left descript">
                    <span class="h3">GymLund</span>
                    <img src="/files/img/preview/gymlund.jpg" class="previewbild">
                    {% include support.html apple=false windows=false chrome=true firefox=false safari=false ie=false ios=true android=false %}
                    <p>En lista på alla Pokémon Go gym i Lund, när användaren klickar på önskat gym öppnas den i Google Maps.</p>
                    <p>Detta är ett projekt som inte använder sig av någon scanning utan "croud info" vilket innebär att informationen om gymmen är insamlat när personer nämner Pokémon gym i t.ex. Discord eller Facebook m.m.</p>
                    <a href="https://gymlund.teddyprojekt.se" class="button">Till Sidan</a>
                    <a href="https://github.com/teddykladdkak/GymLund" class="button">GitHub</a>
                </div>
                <div class="right previewimg" style="background-image: url('/files/img/preview/gymlund.jpg');background-position: center;background-size: 300%;">
                    <img src="/files/img/qr/gymlund.png" class="qr-image" width="150px">
                </div>
            </div>
        </div>
        <div class="tablecontainer information">
            <div class="row">
                <div class="left previewimg" style="background-image: url('/files/img/preview/tidlogga.jpg');background-position: center;">
                    <img src="/files/img/qr/tidlogga.png" class="qr-image" width="150px">
                </div>
                <div class="right descript">
                    <span class="h3">TidLogga</span>
                    <img src="/files/img/preview/tidlogga.jpg" class="previewbild">
                    {% include support.html apple=false windows=false chrome=true firefox=false safari=false ie=false ios=true android=false %}
                    <p>Tid registrering, med minimalistisk design.</p>
                    <p>Specifikt gjord för personer som har flera anställningar eller deltar i flertalet projekt.</p>
                    <p>Ger möjlighet att skriva ut protokoll och se diagram hur och vad man jobbat med.</p>
                    <p>För att testa demo kan du logga in med: "test3".</p>
                    <a href="https://tidlogga.teddyprojekt.se" class="button">Till Sidan</a>
                    <a href="manualer/tidlogga.html" class="button">Instruktioner</a>
                    <a href="https://github.com/teddykladdkak/TidLogga2" class="button">GitHub</a>
                </div>
            </div>
        </div>
        <div class="tablecontainer information">
            <div class="row">
                <div class="left descript">
                    <span class="h3">Slutanteckning</span>
                    <img src="/files/img/preview/slutanteckning.jpg" class="previewbild">
                    {% include support.html apple=false windows=true chrome=false firefox=false safari=false ie=false ios=true android=false %}
                    <p>När patient går hem från sjukhuset behöver sjuksköterskan skriva en slutanteckning, vilken sammanfattar patientens vårdtid.</p>
                    <p>Programmet ställer frågor till sjuksköterskan, istället för att sjuksköterskan ska behöva komma på frågorna själv. Standardiserar vad som måste finnas med i en slutanteckning.</p>
                    <p>Snabbar även upp processen att skriva, då man nu istället primärt behöver klicka, klicka behövs enbart ifall något utgår ifrån ett normalt vårdförlopp.</p>
                    <p>När formuläret är ifyllt, genererar programmet dokumentationstext utifrån svaren.</p>
                    <a href="projekt/slutanteckning/index.html" class="button">Till Sidan</a>
                    <a href="https://github.com/teddykladdkak/teddyprojekt/tree/master/public/projekt/slutanteckning" class="button">GitHub</a>
                    <a href="projekt/slutanteckning/Slutanteckning.bat" class="button" download="">Ladda ner genväg</a>
                </div>
                <div class="right previewimg" style="background-image: url('/files/img/preview/slutanteckning.jpg');background-position: center;"></div>
            </div>
        </div>
        <div class="tablecontainer information">
            <div class="row">
                <div class="left previewimg" style="background-image: url('/files/img/preview/vatskelista.jpg');background-position: 70% center;">
                    <img src="/files/img/qr/vatskelista.png" class="qr-image" width="150px">
                </div>
                <div class="right descript">
                    <span class="h3">Vätskelista</span>
                    <img src="/files/img/preview/vatskelista.jpg" class="previewbild">
                    {% include support.html apple=false windows=false chrome=false firefox=false safari=false ie=false ios=true android=true %}
                    <p>Projekt med målet att förenkla processen att föra vätskelista på patienter i hälso- och sjukvården. Enkel design vilket ger möjlighet för vårdpersonalen att inkludera patienten i registreringsprocessen. Genom att skiva in vikt eller lägga till maxdryck, får patient visuell information om hur mycket vätska den har kvar att dricka.</p>
                    <p>Om du håller mobilen lodrätt kan du registrera glas och vågrätt kan du ändra inställningar.</p>
                    <a href="projekt/vtsk/index.html" class="button">Till Sidan</a>
                    <a href="https://github.com/teddykladdkak/teddyprojekt/tree/master/public/projekt/vtsk" class="button">GitHub</a>
                </div>
            </div>
        </div>
        <div class="tablecontainer information">
            <div class="row">
                <div class="left descript">
                    <span class="h3">Franz-App-Maker</span>
                    <img src="/files/img/preview/franz-app-maker.jpg" class="previewbild">
                    {% include support.html apple=true windows=true chrome=false firefox=false safari=false ie=false ios=false android=false %}
                    <p>Projekt med målet att förenkla processen att lägga till egna applikationer i Franz.</p>
                    <a href="https://github.com/teddykladdkak/Franz-App-Maker" class="button">GitHub</a>
                    <a href="projekt/franz-maker/FranzAppMaker-win32-x64.zip" class="button" download="">Windows (64 bit) [.exe]</a>
                    <a href="projekt/franz-maker/FranzAppMaker-darwin-x64.zip" class="button" download="">Mac (64 bit) [.app]</a>
                </div>
                <div class="right previewimg" style="background-image: url('/files/img/preview/franz-app-maker.jpg');background-position: center;background-size: 240%;"></div>
            </div>
        </div>
        <div class="tablecontainer information">
            <div class="row">
                <div class="left previewimg" style="background-image: url('/files/img/preview/kcalcal.jpg');background-position: left center;background-size: 220%;">
                    <img src="/files/img/qr/kaloriraknare.png" class="qr-image" width="150px">
                </div>
                <div class="right descript">
                    <span class="h3">Kaloriräknare (kcalcal)</span>
                    <img src="/files/img/preview/kcalcal.jpg" class="previewbild">
                    {% include support.html apple=false windows=false chrome=false firefox=false safari=false ie=false ios=true android=true %}
                    <p>Menat att användas av vårdgruppen på ett arbetspass, för att göra en "grov" registrering av patienternas dagliga kalori-intag.</p>
                    <p>I nuläget kan endast "huvudkosten" registreras och då med hur stor del av portionen en patient intagit.</p>
                    <a href="projekt/kcalcal/index.html" class="button">Till Sidan</a>
                    <a href="https://github.com/teddykladdkak/teddyprojekt/tree/master/public/projekt/kcalcal" class="button">GitHub</a>
                </div>
            </div>
        </div>
        <div class="tablecontainer information">
            <div class="row">
                <div class="left descript">
                    <span class="h3">Anatomi Quiz</span>
                    <img src="/files/img/preview/anatomi.jpg" class="previewbild">
                    {% include support.html apple=false windows=false chrome=true firefox=false safari=false ie=false ios=true android=false %}
                    <p>Lär ut latinska namn och var de befinner sig i kroppen.</p>
                    <a href="projekt/anatomi/index.html" class="button">Till Sidan</a>
                    <a href="https://github.com/teddykladdkak/teddyprojekt/tree/master/public/projekt/anatomi" class="button">GitHub</a>
                </div>
                <div class="right previewimg" style="background-image: url('/files/img/preview/anatomi.jpg');background-position: 80% center;background-size: 250%;">
                    <img src="/files/img/qr/anatomi_quiz.png" class="qr-image" width="150px">
                </div>
            </div>
        </div>
        <div class="tablecontainer information">
            <div class="row">
                <div class="left previewimg" style="background-image: url('/files/img/preview/farmakologi.jpg');background-position: 80% center;background-size: 250%;">
                    <img src="/files/img/qr/farma_quiz.png" class="qr-image" width="150px">
                </div>
                <div class="right descript">
                    <span class="h3">Farma Quiz</span>
                    <img src="/files/img/preview/farmakologi.jpg" class="previewbild">
                    {% include support.html apple=false windows=false chrome=true firefox=false safari=false ie=false ios=true android=false %}
                    <p>Samling av olika frågor och svar, inom området Farmakologi. Uppbyggt enligt memory tekniken.</p>
                    <a href="projekt/farmakologi/index.html" class="button">Till Sidan</a>
                    <a href="https://github.com/teddykladdkak/teddyprojekt/tree/master/public/projekt/farmakologi" class="button">GitHub</a>
                </div>
            </div>
        </div>
        <div class="tablecontainer information">
            <div class="row">
                <div class="left descript">
                    <span class="h3">Pillerräknare</span>
                    <img src="/files/img/preview/pillerraknare.jpg" class="previewbild">
                    {% include support.html apple=false windows=false chrome=true firefox=false safari=false ie=true ios=false android=false %}
                    <p>Ersätta narkotikaböckerna och nuvarande narkotikaregistrering vilket görs för hand i dagens läge. Ger möjlighet för vårdpersonalen att i slutet av sitt pass, skriva ut en förteckning över vad för narkotikapreparat som tagits ut och till vem.</p>
                    <p>Mål är att minska svinn och felräkningar.</p>
                    <a href="projekt/piller/index.html" class="button">Till Sidan</a>
                    <a href="https://github.com/teddykladdkak/teddyprojekt/tree/master/public/projekt/piller" class="button">GitHub</a>
                </div>
                <div class="right previewimg" style="background-image: url('/files/img/preview/pillerraknare.jpg');background-position: left top;">
                    <img src="/files/img/qr/pillerraknare.png" class="qr-image" width="150px">
                </div>
            </div>
        </div>
        <div class="tablecontainer information">
            <div class="row">
                <div class="left previewimg" style="background-image: url('/files/img/preview/patdagbok.jpg');background-position: center top;background-size: 230%;"></div>
                <div class="right descript">
                    <span class="h3">Patient Dagbok</span>
                    <img src="/files/img/preview/patdagbok.jpg" class="previewbild">
                    {% include support.html apple=false windows=false chrome=false firefox=false safari=false ie=false ios=false android=false %}
                    <p>Kort projekt där jag utforskade möjligheterna med en meddelande styrd dagbok.</p>
                    <a href="projekt/dagbok/index.html" class="button">Koncept demo</a>
                    <a href="https://github.com/teddykladdkak/patient-dagbok" class="button">GitHub</a>
                </div>
            </div>
        </div>
        <div class="tablecontainer information">
            <div class="row">
                <div class="left descript">
                    <span class="h3">Personallista</span>
                    <img src="/files/img/preview/personallista.jpg" class="previewbild">
                    {% include support.html apple=false windows=false chrome=false firefox=false safari=false ie=false ios=false android=false %}
                    <p>Mål är att skapa ett schemaläggningssystem vilken är logisk för vårdpersonalen.</p>
                    <a href="https://github.com/teddykladdkak/Personallista" class="button">GitHub</a>
                </div>
                <div class="right previewimg" style="background-image: url('/files/img/preview/personallista.jpg');background-position: 70% center;background-size: 230%;"></div>
            </div>
        </div>
        <div class="tablecontainer information">
            <div class="row">
                <div class="left previewimg" style="background-image: url('/files/img/preview/poketime.jpg');background-position: left top;">
                    <img src="/files/img/qr/poketime.png" class="qr-image" width="150px">
                </div>
                <div class="right descript">
                    <span class="h3">Poké Time</span>
                    <img src="/files/img/preview/poketime.jpg" class="previewbild">
                    {% include support.html apple=false windows=false chrome=true firefox=false safari=false ie=false ios=true android=false %}
                    <p>Genom att fylla i information från din profil från Pokémon Go, kan du se hur lång tid det kommer ta att spela spelet och se din statistik.</p>
                    <a href="https://gymlund.teddyprojekt.se/poketime.html" class="button">Till Sidan</a>
                    <a href="https://github.com/teddykladdkak/GymLund" class="button">GitHub</a>
                </div>
            </div>
        </div>
        <div class="tablecontainer information">
            <div class="row">
                <div class="left descript">
                    <span class="h3">Formulär dokumentation</span>
                    {% include support.html apple=false windows=false chrome=false firefox=false safari=false ie=false ios=false android=false %}
                    <p>Projekt med mål att bli likt "Slutanteckning" projektet.</p>
                    <p>Utifrån vad användaren svaras, genereras färdig dokumentationstext.</p>
                    <p>Del av målet att automatisera och standardisera dokumentationen.</p>
                    <a href="projekt/sarremiss/index.html" class="button">Sårremiss</a>
                    <a href="https://github.com/teddykladdkak/teddyprojekt/tree/master/public/projekt/sarremiss" class="button">GitHub</a>
                    <a href="projekt/fax/index.html" class="button">Fax försättsblad</a>
                    <a href="https://github.com/teddykladdkak/teddyprojekt/tree/master/public/projekt/fax" class="button">GitHub</a>
                    <a href="projekt/utskrivning/index.html" class="button">Utskrivning</a>
                    <a href="https://github.com/teddykladdkak/teddyprojekt/tree/master/public/projekt/utskrivning" class="button">GitHub</a>
                    <a href="projekt/ankomst/index.html" class="button">Inskrivning</a>
                    <a href="https://github.com/teddykladdkak/teddyprojekt/tree/master/public/projekt/ankomst" class="button">GitHub</a>
                </div>
                <div class="right previewimg"></div>
            </div>
        </div>
    </div>
</div>