* {
  box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
@media screen and (min-width: 800px) {
  html, body {
    width: 100%;
    height: 100%;
  }
::-webkit-scrollbar {
  width: .95em;
}
  ::-webkit-scrollbar-track {
    background-color: rgba(217, 217, 217, 0.5);
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(184, 184, 184, 0.5);
    box-shadow: inset 0.05em 0.05em 0 rgba(0, 0, 0, 0.1), inset 0 -0.05em 0 rgba(0, 0, 0, 0.07);
  }
}
body {
  margin: .55em;
  color: black;
  background-color: #d6d7d7;
  background: url(shattered.png);
}
.content {
 	clear: both;
  float: left;
  font: 1em verdana, sans-serif;
  margin: .75em 0 0 0;
  transition: margin .3s ease-in-out;
  width:98%;
}
.content > p {
  margin: .25em 0 .75em 0;
}
body {
  -webkit-animation: bugfix infinite 1s;
}
@-webkit-keyframes bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
}
input.menu[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
label.menu {
  position: absolute;
  left: 0;
  display: none;
  width: 2em;
  height: 2.25em;
  padding: .35em;
  font-size: 1.1em;
  color: #fff;
  transition: color .3s ease-in-out;
  cursor: pointer;
  user-select: none;
  margin: 0;
  background: rgba(0, 0, 0, 0.4);
}
nav[role="off-canvas"] {
  position: relative;
  margin: 0 auto;
  transition-duration: .3s, .5s;
  transition-timing-function: ease-in-out;
  transition-property: left, opacity, box-shadow;
}
nav[role="off-canvas"] a {
  color: #fff;
  text-decoration: none;
  font: 1.4em verdana, sans-serif;
  transition: color .3s ease-in-out;
  display: table-cell;
  vertical-align: middle;
}
nav[role="off-canvas"] ul {
  padding: 0;
  margin: 0 auto;
  width: 100%;
}
nav[role="off-canvas"] ul > li {
  float: left;
  padding: .55em .55em;
  width: 8em;
  height: 4em;
  margin: .5em;
  opacity: .8;
  text-transform: uppercase;
  display: table;
  background: rgba(247, 52, 8, 0.65);
  cursor: pointer;
  text-align: center;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
  transition-property: box-shadow, color, opacity, padding-left;
  cursor: pointer;
}
nav[role="off-canvas"] ul > li:hover {
  color: #fff;
  opacity: 1;
  box-shadow: 0 0 0 0.5em rgba(255, 255, 255, 0.95);
}
nav[role="off-canvas"] ul > li:hover > a {
  color: #fff;
}
nav[role="off-canvas"] ul > li:nth-child(5n+2) { background: rgba(247, 183, 8, 0.65); }
nav[role="off-canvas"] ul > li:nth-child(5n+3) { background: rgba(32, 247, 8, 0.65); }
nav[role="off-canvas"] ul > li:nth-child(5n+4) { background: rgba(8, 231, 247, 0.65); }
nav[role="off-canvas"] ul > li:nth-child(5n+5) { background: rgba(8, 72, 247, 0.65); }
@media screen and (max-width: 800px) {
  html, body {
    margin: 0;
    overflow-x: hidden;
  }
  .content {
    margin: 2.5em .5em 0 .5em;
  }
  nav[role="off-canvas"] {
    position: absolute;
    top: 3em;
    left: -20em;
    width: 20em;
    opacity: 0;
  }
  nav[role="off-canvas"] ul > li {
    height: 100%;
    width: 100%;
    text-align: left;
    margin: 0;
  }
  nav[role="off-canvas"] ul > li:hover {
    box-shadow: inset 0 0 0 0.15em rgba(255, 255, 255, 0.45);
  }
  label.menu {
    display: block;
    position:fixed;
    top:0;
    left:0;
    z-index: 5;
  }
  label.menu:after {
    position: absolute;
    right: .25em;
    top: 0;
    content: "\2261";
    font-size: 1.8em;
  }
  label.menu:hover, input.menu:checked ~  label.menu {
    color: #000;
  }
  input.menu:checked ~ nav[role="off-canvas"] {
    opacity: 1;
    left: 0;
    box-shadow: -30em 0 0 30em rgba(0, 0, 0, 0.3);
  }
  input.menu:checked ~ nav[role="off-canvas"] ul > li {
    padding: .55em .55em .55em 1.5em;
  }
  input.menu:checked ~ nav[role="off-canvas"] ul > li:hover {
    padding-left: 3.5em;
  }
  input.menu:checked ~ nav[role="off-canvas"] ul > li:after {
    position: absolute;
    right: .25em;
    content: "\203A";
    font: bold 1.4em sans-serif;
    color: inherit;
  }
  input.menu:checked ~ .content {
    margin-left: 20.5em;
    margin-right: -20.5em;
  }
  #kcalcal table, #mews table, #preoprutin table, #nutrition table, #ordination table {
    width:98%;
  }
}
.content input[type=month], .content input[type=text], .content input[type=url], .content input[type=email], .content input[type=password], .content input[type=tel], .content input[type=number], .content input[type=time], .content select {
  -webkit-appearance: none; -moz-appearance: none;
  display: block;
  margin: 0;
  width: 98%; height: 40px;
  line-height: 40px; font-size: 17px;
  border: 1px solid #bbb;
  background-color: #fff;
}
.content input[type=checkbox], .content input[type=radio] {
  width: 44px; height: 44px;
  -webkit-border-radius: 22px; -moz-border-radius: 22px; border-radius: 22px;
  border: 1px solid #bbb;
}
.content button[type=submit] {
  -webkit-appearance: none; -moz-appearance: none;
  display: block;
  margin: 1.5em 0;
  font-size: 1em; line-height: 2.5em;
  color: #333;
  font-weight: bold;
  height: 2.5em; width: 98%;
  background: #fdfdfd; background: -moz-linear-gradient(top, #fdfdfd 0%, #bebebe 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#bebebe)); background: -webkit-linear-gradient(top, #fdfdfd 0%,#bebebe 100%); background: -o-linear-gradient(top, #fdfdfd 0%,#bebebe 100%); background: -ms-linear-gradient(top, #fdfdfd 0%,#bebebe 100%); background: linear-gradient(to bottom, #fdfdfd 0%,#bebebe 100%);
  border: 1px solid #bbb;
  -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;
}
.content input[type=range] {
  width: 100%;
}
.content input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 44px; height: 44px;
  background: #fdfdfd; background: -moz-linear-gradient(top, #fdfdfd 0%, #bebebe 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#bebebe)); background: -webkit-linear-gradient(top, #fdfdfd 0%,#bebebe 100%); background: -o-linear-gradient(top, #fdfdfd 0%,#bebebe 100%); background: -ms-linear-gradient(top, #fdfdfd 0%,#bebebe 100%); background: linear-gradient(to bottom, #fdfdfd 0%,#bebebe 100%);
  border: 1px solid #bbb;
  -webkit-border-radius: 22px; -moz-border-radius: 22px; border-radius: 22px;
}
.content input.bltr {
  width:20%;
  display: inline-table;
}
.content p.bltr {
  margin:0 0 -10px 0;
  padding:0px;
  display: inline-table;
  font-size: 3 em;
  line-height: 0px;
}
#vas table, #vas table tr, #fallrisk table, #fallrisk table tr {
  width: 100%;
}
#vas table tr td:nth-child(2), #fallrisk table tr td:nth-child(2) {
  width: 100%;
}
#vas table tr td:nth-child(2) {
  border-right:5px lightgray groove;
  border-left:5px lightgray groove;
  padding-right: 5px;
}
#kartacontainer {
  width:100%;
  overflow:scroll;
}
#karta img {
  width: 565px;
}
#karta .resultat {
  min-height: 72px;
  margin:16px 0;
}
#karta button, #karta table{
  margin:0px;
  width:98%;
}
#kcalcal table, #mews table, #preoprutin table, #nutrition .resultat table, #ordination table {
  border:3px #000 solid;
  border-collapse: collapse;
}
#kcalcal table tr td, #mews table tr td, #preoprutin table tr td, #nutrition .resultat table tr td, #ordination table tr td{
  border:3px #000 solid;
}
#mews table tr td:nth-child(3), #mews table tr:nth-child(8) td:nth-child(2){
  text-align: center;
}
#mews table tr:nth-child(8) td:nth-child(1){
  text-align:right;
}
#mews table tr:nth-child(9) td{
color:#FFF;font-weight:bold;
}
#kcalcal table tr td, #mews table tr:first-child, #mews table tr:last-child td:nth-child(0), #nutrition .resultat table, #ordination table, #preoprutin table {
  background-color: #fff;
}
#nutrition .resultat{
  margin-top: 10px;
}
#nutrition .resultat p{
  color:#666;
  font-size: 10px;
}
#movicol img {
  width: 100%;
  max-width: 450px;
}
#trycksar img{
    width:100%;
    max-width: 261px;
}
#preoprutin table th{
  text-align: left;
}


/*Dolda element!*/
#hypovolemi, #vatskefordelning, #kcalcal, #uppdateringar, #karta, #mews, #dokumentation, #eda, #fallrisk, #dropptakt, #vas, #movicol, #dokumentation span, #trycksar, #preoprutin, #nutrition, #ordination {
  display:none;
}
#trycksar .gradering, #trycksar .norton h1, #trycksar .norton span{
  display:none;
}
#losenord table:first-child tr td:last-child, #losenord table:first-child, #losenord table:first-child tr{
  background-color: #FFF;
  border:3px #000 solid;
  border-collapse: collapse;
  }
#losenord table tr td:last-child, #losenord table, #losenord table tr{
  width:100%;
}
#losenord table tr td:first-child{
  font-weight: bold;
}