---
layout: default
titel: Blogg
menu: blogg
---
<div id="wrapper">
    <div id="header">
        <span class="h1">TeDDyProjekt</span>
        <span class="h2">Blogg info vad som händer och tankar</span>
    </div>
    <div id="content">
        {% for post in paginator.posts %}
            <div id="bloggcontent">
                <div class="tablecontainer">
                    <a href="{{ post.url }}" class="h3" onclick="internlink(this, event);">{{ post.title }}</a>
                    <p class="date">({{ post.date | date_to_string }})</p>
                    {{ post.content }}
                </div>
            </div>
       {% endfor %}
       <div id="bloggcontent">
            <div class="tablecontainer" style="text-align: center;">
                {% if paginator.previous_page %}
                    <a href="{{ paginator.previous_page_path }}" class="button">
                        <svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512"><path fill="currentColor" d="M192 127.338v257.324c0 17.818-21.543 26.741-34.142 14.142L29.196 270.142c-7.81-7.81-7.81-20.474 0-28.284l128.662-128.662c12.599-12.6 34.142-3.676 34.142 14.142z"></path></svg>
                        <span class="mobile-hidden"> Föregående</span>
                    </a>
                {% else %}
                    <!--<span class="previous">Previous</span>-->
                {% endif %}
                <span class="page_number ">
                    Sida: {{ paginator.page }} av {{ paginator.total_pages }}
                </span>
                {% if paginator.next_page %}
                    <a href="{{ paginator.next_page_path }}" class="button">
                        <span class="mobile-hidden">Nästa </span>
                        <svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512"><path fill="currentColor" d="M0 384.662V127.338c0-17.818 21.543-26.741 34.142-14.142l128.662 128.662c7.81 7.81 7.81 20.474 0 28.284L34.142 398.804C21.543 411.404 0 402.48 0 384.662z"></path></svg>
                    </a>
                {% else %}
                    <!--<span class="next ">Next</span>-->
                {% endif %}
            </div>
       </div>
    </div>
</div>